body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	font-family: 'Inconsolata', sans-serif;
}

.leaflet-popup-content {
	padding: 0 0 5px 0;
	color: rgba(0, 0, 0, 1);
}

.leaflet-popup-content-wrapper {
	width: 180px;
	font-size: 16px;
}
	
.legend {
	line-height: 12px;
	background-color: #f9f9f9;
	border: 1px solid #000;
	padding: 5px;
}

.legend-item {
	margin-bottom: 4px;
}

.legend span {
	width: 12px;
	height: 12px;
	float: left;
	margin-right: 8px;
	border-radius: 9em;
}

#app_title {
	margin-bottom: 5px;
}

#refresh_bar {
	display: none;
	padding: 5px 0px;
}

#refresh_bar, #refresh_button {
	margin-top: 6px;
}

#refresh_button {
	background-color: #ddd;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 2px;
	cursor: pointer;
}

#refresh_button:active {
	background-color: #ccc;
}

#refresh_button a {
	color: black;
}

.station_name, .popup_buttons, table, .updated_time, #app_title, #refresh_bar, #refresh_button {
	text-align: center;
}

.popup_buttons {
	text-transform: uppercase;
}

#labels {
	text-transform: lowercase;
	font-size: 10px
}

table {
	margin: 10px auto 0 auto;
}

td {
	padding: 0px 8px 5px 5px;
}

.now {
	font-weight: 700;
	font-size: 20px;
}

.your_location {
	font-weight: 700;
	padding: 10px;
}

.updated_time {
	font-size: 12px;
	font-style: italic;
}

@media (max-width: 500px) {
	.legend {
		font-size: 12px;
		line-height: 12px;
	}
	
	.legend span {
		width: 10px;
		height: 10px;
	}
	
	#refresh_bar img {
		width: 80px;
	}
	
	.leaflet-popup-content-wrapper {
		font-size: 14px;
		width: 175px;
	}
	
	.updated_time {
		font-size: 12px;
	}
	
	.popup_buttons {
		font-size: 16px;
	}
	
	#labels {
		font-size: 10px
	}
	
	.now {
		font-size: 18px;
	}
}